# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\EF - IA\RegresionLogistica\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
